{% extends 'layout.html' %}

{% block body %}

{% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

        {% endfor %}
        {% endif %}
        {% endwith %}

<body>
    <div class="col-md-4 offset-md-4">
        <div class="card card-body">                           
                <form method="POST">
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" name="username" placeholder="Username">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <p class="control has-icons-left">
                            <input class="input" type="password" name="password" placeholder="Password">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button type="submit" class="button is-success">
                                Login
                            </button>
                        </p>
                    </div>
                </form>           
        </div>
</body>
{% endblock %}