<!DOCTYPE html>



{% extends 'layout.html' %}
{% block body %}

<div class="row">
    <div class="col-md-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="card card-body">
            <h1>Add User</h1>
            <form action="/add_usuario" method="POST">
                <div class="form-group">
                    <input type="text" name="name" placeholder="name"
                           class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name="email" placeholder="email"
                           class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name="user" placeholder="user"
                           class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name="password" placeholder="password"
                           class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name="access" placeholder="access"
                           class="form-control" />
                </div>               
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Guardar
                    </button>
                </div>
</form>
    </div>


    </div>
    <div class="col-md-7">
        <style type="text/css">
            td {width: 80px;
                
            }

            table {
                width: 100px;
                table-layout: fixed;
                word-wrap: break-word
            }
        </style>
        <table class="table table-stripped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>Fullname</td>
                    <td>Email</td>
                    <td>Username</td>
                    <td>Password</td>
                    <td>Access</td>
                    <td>Operations</td>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td> {{user.1}}</td>
                    <td> {{user.2}}</td>
                    <td> {{user.3}}</td>
                    <td> {{user.4}}</td>
                    <td> {{user.5}}</td>
                    <td>
                        <a href="/edit/{{ user.0 }}" class="btn btn-secondary">Edi</a>
                        <a href="/delete/{{ user.0 }}" class="btn btn-danger btn-delete">Del</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>


        </table>
    </div>
</div>
<nav class="navbar navbar-dark bg-dark">
    <form class="container-fluid justify-content-start">
        <a href="/user_registry" class="btn btn-outline-success me-2" type="button">Register Users</a>
        <a href="/productos" class="btn btn-outline-success me-2" type="button">Inventory</a>
    </form>
</nav>
{% endblock %}
